/* GENERAL **************************************************************************************************** */

* {
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --yellow: #FFE964;
    --magenta: #F00B64;
    --pink: #F287B6;
    --purple: #8f44cc;
    --purple-superdark: #2a143d;
}

html {
    color: #1c0d28;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

body {
    background: white;
    width: 100%;
}

h1 {
    font-size: 5.5vw;
    text-align: center;
    color: var(--purple);
    font-family: 'Bungee', sans-serif;
    letter-spacing: 0.07em;
}

h2 {
    font-size: 3.7vw;
    text-align: left;
    color: var(--purple);
    font-family: 'Unna', serif;
    letter-spacing: 0.05em;
    padding: 0.5em 0;
    font-style: normal;
}



@media only screen and (min-width: 600px) and (max-width: 900px) {
    h2 {
        font-size: calc(26px + (33.3 - 26) * (100vw - 600px) / (900 - 600));
    }

}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 26px;
    }

}

.h1-etusivu {
    font-family: 'Bungee Shade', sans-serif;
    font-size: 8vw;
}

.h2-etusivu {
    text-align: center;
}

p {
    padding: 0 0 1rem;
    line-height: 1.5rem;
}

.paragraph-group {
    padding: 2rem 0;
}

.center {
    text-align: center;
}

.shadow-purple {
    box-shadow: -1.4rem 1.4rem var(--purple);
    margin: 0 0 1.4rem 1.4rem;
    border-radius: 4px;
}

.card-yellow {
    position: relative;
}

.card-yellow:before {
    bottom: 2rem;
    left: 1.4rem;
    content: "";
    position: absolute;
    background: var(--yellow);
    width: 100%;
    height: 8rem;
    z-index: -10;
    border-radius: 4px;
  }

.shadow-yellow {
    box-shadow: -0.7rem 0.7rem var(--yellow);
    margin: 0 0 0.7rem 0.7rem;
    border-radius: 4px;
}

img {
    width: 100%;
}

.photo-caption {
    font-size: 12px;
    opacity: 0.7;
}

.blog-info {
    opacity: 0.7;
}

.main-top a:hover {
    color: var(--pink);
}

a {
    color: var(--purple-superdark);
}

a:hover {
    color: var(--purple);
}

/* HEADER ***************************************************************************************************** */

.header-etusivu {
    background-attachment: fixed;
    background-image: url(../assets/etusivu/etusivu-ajak.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .header-etusivu {
        background-attachment: scroll;
    }
}

nav {
    align-items: start;
    background: var(--purple);
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 1rem 1rem 1.5rem;
}

nav a {
    color: white;
    padding: 0 0.6rem;
}

nav a:hover {
    color: var(--yellow);
}

.active {
    color: var(--yellow);
}

nav .fas,
nav .fab {
    font-size: 1.5rem;
    transition: 0.1s;
}

.nav-internal {
    display: inline-block;
}

.nav-external {
    display: inline-block;
    position: absolute;
    right: 1rem;
}

.nav-internal a {
    font-weight: 700;
    letter-spacing: 0.05em;
    display: inline-block;
}


.nav-external a {
    display: inline-block;
}

.hamburger {
    display: none;
}


@media only screen and (max-width: 900px) {
    .hamburger {
        display: inline-block;
        position: absolute;
        right: 1rem;
        transition: 0.1s;
    }

    .nav-internal {
        display: none;
        position: absolute;
        left: 5.5rem;
        top: 1.5rem;
    }

    .nav-external {
        display: none;
        position: absolute;
        right: 5.5rem;
        top: 1.1rem;
    }

    .nav-internal a,
    .nav-external a {
        display: block;
        padding-bottom: 2rem;
    }

    .nav-internal a:hover,
    .active {
        background: transparent;
        color: var(--yellow);
    }

    nav:hover {
        height: 100vh;
    }

    nav:hover .nav-internal {
        display: block;
    }

    nav:hover .nav-external {
        display: block;
    }
    


}

/* MAIN ******************************************************************************************************* */

.main-top {
    padding: 7rem 7vw 4rem;
    text-align: center;
}

.main-top-etusivu {
    padding: 4rem 7vw;
    text-align: center;
}

.vasemmisto-logo-main {
    width: 350px;
    margin: 3rem 0;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .vasemmisto-logo-main {
        width: calc(200px + (350 - 200) * (100vw - 600px) / (900 - 600));
    }

}

@media only screen and (max-width: 600px) {
    .vasemmisto-logo-main {
        width: 200px;
    }

}

.main-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding-left: 8vw;
    padding-right: 10vw;
    grid-column-gap: 4vw;
    grid-row-gap: 3vw;
    grid-template-rows: auto;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding-left: calc(25px + (72 - 25) * (100vw - 600px) / (900 - 600)); 
        padding-right: calc(35px + (90 - 35) * (100vw - 600px) / (900 - 600));    
    }

}

@media only screen and (max-width: 600px) {
    .main-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: 25px;
        padding-right: 35px;
    }

}

.lower {
    margin-top: 5rem;
}

.main-text-and-image {
    padding: 0 15vw 10vw;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main-text-and-image {
        padding-left: calc(25px + (135 - 25) * (100vw - 600px) / (900 - 600));
        padding-right: calc(25px + (135 - 25) * (100vw - 600px) / (900 - 600));        
    }

}

@media only screen and (max-width: 600px) {
    .main-text-and-image {
        padding-left: 25px;
        padding-right: 25px;
    }

}

.video-facebook {
    overflow: hidden;
    padding-bottom: 55%;
    position: relative;
    height: 0;
    background: black;
}

.video-facebook iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.blog-link-title {
    margin: -3rem -0.75rem 2rem 0.75rem;
    padding: 4rem 1.5rem 1rem;
    height: 10rem;
    border-radius: 4px;
}

.blog-link:hover .blog-link-title {
    background: var(--yellow);
}

.main-grid-blogi {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-left: 8vw;
    padding-right: 10vw;
    grid-column-gap: 6vw;
    grid-row-gap: 2vw;
    grid-template-rows: auto;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main-grid-blogi {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: calc(25px + (72 - 25) * (100vw - 600px) / (900 - 600)); 
        padding-right: calc(35px + (90 - 35) * (100vw - 600px) / (900 - 600));    
    }

}

@media only screen and (max-width: 600px) {
    .main-grid-blogi {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: 25px;
        padding-right: 35px;
    }

}

.main-holvi {
    margin: 0 15vw 10vw;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.holvi-frame {
    margin: 0.5rem auto;
}

.holvi-text {
    margin: 1rem 0 1rem 3rem;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main-holvi {
        margin-left: calc(25px + (135 - 25) * (100vw - 600px) / (900 - 600));
        margin-right: calc(25px + (135 - 25) * (100vw - 600px) / (900 - 600)); 
    }

}

@media only screen and (max-width: 700px) {
    .main-holvi {
        flex-direction: column;
    }

    .holvi-text {
        margin-left: calc(25px + (135 - 25) * (100vw - 600px) / (900 - 600));
        margin-right: calc(25px + (135 - 25) * (100vw - 600px) / (900 - 600)); 
    }

}


@media only screen and (max-width: 600px) {
    .main-holvi, .holvi-text {
        margin-left: 25px;
        margin-right: 25px;
    }
}

.main-sv-en {
    margin: 0 10vw 10vw 15vw;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.main-sv-en img {
    height: 80vh;
    width: auto;
    margin-top: -1rem;
    z-index: -10;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main-sv-en {
        margin-left: calc(25px + (135 - 25) * (100vw - 600px) / (900 - 600));
        margin-right: calc(25px + (90 - 15) * (100vw - 600px) / (900 - 600));
        align-content: center;
    }

}

@media only screen and (max-width: 700px) {
    .main-sv-en {
        flex-direction: column;
    }

    .main-sv-en img {
        height: auto;
        width: 90vw;
        margin-top: -4rem;
    }

}

@media only screen and (max-width: 600px) {
    .main-sv-en {
        margin-left: 25px;
        margin-right: 15px;

    }


}


.main-yhteys-social-media a {
    padding: 0 1rem;
    font-size: 2.5rem;

}

address {
    padding: 4rem 0 0;
}

address a {
    font-size: 2rem;
    color: var(--purple);
    font-family: 'Unna', serif;
    letter-spacing: 0.05em;
    font-style: normal;
}

/* FOOTER ******************************************************************************************************* */

footer {
    background: var(--purple);
    color: white;
    padding: 5vw 15vw;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 6vw 4vw;
    grid-template-areas:
    "vasemmisto-logo footer-ajak footer-social-media"
    "vasemmisto-logo footer-xurxe back-to-top";
    grid-row-gap: 2vw;
    grid-column-gap: 2.5rem;
    align-items: end;
}

.vasemmisto-logo {
    width: 12vw;
    grid-area: vasemmisto-logo;
    align-self: center;
}

.vasemmisto-logo-square {
    display: block;
}

.vasemmisto-logo-long {
    display: none;
}

.vasemmisto-logo-square-hover {
    display: none;
}

.vasemmisto-logo-long-hover {
    display: none;
}

.vasemmisto-logo:hover .vasemmisto-logo-square {
    display: none;
}

.vasemmisto-logo:hover .vasemmisto-logo-square-hover {
    display: block;
}

.small-font {
    font-size: 12px;
}

footer a {
    color: white;
    transition: 0.1s;
}

footer a:hover {
    color: var(--yellow);
}

.footer-social-media {
    grid-area: footer-social-media;
    font-size: 2rem;
    padding: 0;
    justify-self: end;
    align-self: center;
}

.footer-social-media a {
    margin: 0 0 0 0.5rem;
}

#footer-facebook-icon {
    margin: 0 0 0 0;
}

.back-to-top {
    grid-area: back-to-top;
    justify-self: end;
    font-size: 1.5rem;
    padding: 0;
}

.footer-ajak {
    grid-area: footer-ajak;
    align-self: center;
}

.footer-xurxe {
    grid-area: footer-xurxe;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    footer {
        padding-left: calc(25px + (135 - 25) * (100vw - 600px) / (900 - 600));
        padding-right: calc(25px + (135 - 25) * (100vw - 600px) / (900 - 600));        
    }

}

@media only screen and (max-width: 600px) {
    footer {
        grid-template-columns: 100%;
        grid-template-rows: 20vw auto auto auto auto;
        grid-template-areas:
        "vasemmisto-logo"
        "footer-ajak"
        "footer-social-media"
        "footer-xurxe"
        "back-to-top";
        grid-row-gap: 1.5rem;
        justify-items: center;
        padding-left: 25px;
        padding-right: 25px;
    }

    .vasemmisto-logo {
        width: 50vw;
    }

    .vasemmisto-logo-square {
        display: none;
    }
    
    .vasemmisto-logo-long {
        display: block;
    }
    
    .vasemmisto-logo-square-hover {
        display: none;
    }
    
    .vasemmisto-logo-long-hover {
        display: none;
    }
    
    .vasemmisto-logo:hover .vasemmisto-logo-long {
        display: none;
    }

    .vasemmisto-logo:hover .vasemmisto-logo-square-hover {
        display: none;
    }
    
    .vasemmisto-logo:hover .vasemmisto-logo-long-hover {
        display: block;
    }
    
    .footer-ajak,
    .footer-social-media,
    .footer-xurxe,
    .back-to-top {
        justify-self: center;
    }
}

