/* GENERAL ****************************************************************************************************** */

* {
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    color: #2a143d;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background-color: white;
    width: 100%;
}

h1 {
    color: #8f44cc;
    font-family: 'Bungee', sans-serif;
    font-size: 6vw;
    font-weight: normal; 
    text-align: center;
}

h2 {
    color: #8f44cc;
    font-family: 'Unna', serif;
    font-size: 4vw;
    font-style: normal;
    font-weight: normal;
    padding: 0.5em 0;
}

h3 {
    font-size: 1rem;
    font-style: bold;
    line-height: 1.5rem;
    margin: 1rem 0;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    h2 {
        font-size: calc(29px + 7 * (100vw - 600px) / 300);
    }
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 29px;
    }
}

.h1-etusivu {
    font-family: 'Bungee Inline', sans-serif;
    font-size: 10.5vw;
}

p {
    line-height: 1.5rem;
    padding: 0 0 1rem;
}

.paragraph-group {
    padding: 2rem 0;
}

.center {
    text-align: center;
}

.shadow-yellow {
    box-shadow: -0.7rem 0.7rem #FFE964;
    margin: 0 0 0.7rem 0.7rem;
    border-radius: 4px;
}

.shadow-purple {
    border-radius: 4px;
    box-shadow: -1.4rem 1.4rem #8f44cc;
    margin: 0 0 1.4rem 1.4rem;
    position: relative;
}

img {
    width: 100%;
}

.photo-caption {
    font-size: 12px;
    opacity: 0.7;
}

.blog-info {
    opacity: 0.7;
}

a {
    color: #2a143d;
    font-weight: normal;
}

a:hover {
    color: #8f44cc;
}

.small-font {
    font-size: 12px;
}

strong {
    color: #8f44cc;
    display: block;
    font-family: 'Unna', serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    padding: 0.5em 0;
}



/* HEADER ******************************************************************************************************* */

nav {
    align-items: start;
    background-color: #8f44cc;
    padding: 1rem 1rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav a {
    color: white;
    padding: 0 0.6rem;
    transition: 0.1s;
}

nav a:hover {
    color: #FFE964;
}

.active {
    color: #FFE964;
}

nav .fas,
nav .fab {
    font-size: 1.5rem;
    transition: 0.1s;
}

.nav-internal {
    display: inline-block;
}

.nav-external {
    display: inline-block;
    position: absolute;
    right: 1rem;
}

.nav-internal a {
    display: inline-block;
    font-weight: 700;
}

.nav-external a {
    display: inline-block;
}

.hamburger {
    display: none;
}

.ajak-majok-hamburger {
    display: none;
}

@media only screen and (max-width: 800px) {
    .hamburger {
        display: inline-block;
        position: absolute;
        right: 1rem;
    }

    .ajak-majok-hamburger {
        color: white; 
        display: inline-block;
        font-family: 'Bungee', sans-serif;
        font-size: 34px;
        left: 10%;
        position: absolute;
        right: 10%;
        text-align: center;
        text-justify: center;
    }

    @media only screen and (min-width: 600px) and (max-width: 900px) {
        .ajak-majok-hamburger {
            font-size: calc(16px + 18 * (100vw - 600px) / 300);
        }
    }
    
    @media only screen and (max-width: 600px) {
        .ajak-majok-hamburger {
            font-size: 16px;
        }
    }

    nav:hover .ajak-majok-hamburger {
        display: none;
    }

    .nav-internal {
        display: none;
        left: 5.5rem;
        position: absolute;
        top: 1.5rem;
    }

    .nav-external {
        display: none;
        position: absolute;
        right: 5.5rem;
        top: 1.1rem;
    }

    .nav-internal a,
    .nav-external a {
        display: block;
        padding-bottom: 2rem;
    }

    nav:hover {
        height: 100vh;
    }

    nav:hover .nav-internal {
        display: block;
    }

    nav:hover .nav-external {
        display: block;
    }

}



/* MAIN ********************************************************************************************************* */
.etusivu-pic-top {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.etusivu-pic-top img {
    height: 100%;
    object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -o-object-fit: cover;
    -ms-object-fit: cover;
    object-position: 50% 40%;
    -webkit-object-position: cover;
    -moz-object-position: cover;
    -o-object-position: cover;
    -ms-object-position: cover;
}

.main-top {
    padding: 7rem 7vw 4rem;
    text-align: center;
}

.main-top-etusivu {
    padding: 4rem 7vw;
    text-align: center;
}

.vasemmisto-logo-main {
    margin: 3rem 0 1rem;
    width: 350px;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .vasemmisto-logo-main {
        width: calc(200px + 150 * (100vw - 600px) / 300);
    }
}

@media only screen and (max-width: 600px) {
    .vasemmisto-logo-main {
        width: 200px;
    }
}

.main-intro-etusivu {
    padding: 0 15vw 4rem;

}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main-intro-etusivu {
        padding-left: calc(25px + 110 * (100vw - 600px) / 300);
        padding-right: calc(25px + 110 * (100vw - 600px) / 300);    
    }
}

@media only screen and (max-width: 600px) {
    .main-intro-etusivu {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.main-grid {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 4vw;
    grid-row-gap: 3vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-left: 8vw;
    padding-right: 10vw;
    width: 100%;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding-left: calc(25px + 47 * (100vw - 600px) / 300); 
        padding-right: calc(35px + 50 * (100vw - 600px) / 300);    
    }

}

@media only screen and (max-width: 600px) {
    .main-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: 25px;
        padding-right: 35px;
    }
}

.photo-caption-main-grid {
    padding-left: 8vw;
    padding-right: 10vw;
    padding-top: 1.5rem;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .photo-caption-main-grid {
        padding-left: calc(25px + 47 * (100vw - 600px) / 300); 
        padding-right: calc(35px + 55 * (100vw - 600px) / 300);    
    }

}

@media only screen and (max-width: 600px) {
    .photo-caption-main-grid {
        padding-left: 25px;
        padding-right: 35px;
    }
}



.lower {
    margin-top: 5rem;
}

.main-text-and-image {
    padding: 0 15vw 10vw;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main-text-and-image {
        padding-left: calc(25px + 110 * (100vw - 600px) / 300);
        padding-right: calc(25px + 110 * (100vw - 600px) / 300);        
    }
}

@media only screen and (max-width: 600px) {
    .main-text-and-image {
        padding-left: 25px;
        padding-right: 25px;
    }
}



/* MAIN INDEX ************************************************************************** */

.video-facebook {
    background-color: black;
    height: 0;
    overflow: hidden;
    padding-bottom: 55%;
    position: relative;
}

.video-facebook iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/* MAIN AJAKISTA *********************************************************************** */

.main-grid-ajakista {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 6vw;
    grid-row-gap: 10vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-bottom: 4rem;
    padding-left: 8vw;
    padding-right: 10vw;
    width: 100%;
}

@media only screen and (min-width: 700px) and (max-width: 1100px) {
    .main-grid-ajakista {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding-left: calc(25px + 63 * (100vw - 700px) / 400); 
        padding-right: calc(35px + 75 * (100vw - 700px) / 400);    
    }

}

@media only screen and (max-width: 700px) {
    .main-grid-ajakista {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: 25px;
        padding-right: 35px;
    }
}




/* MAIN BLOG *************************************************************************** */

.blog-link-title {
    border-radius: 4px;
    height: 10rem;
    margin: -3rem -0.75rem 2rem 0.75rem;
    padding: 4rem 1.5rem 1rem;
    transition: 0.25s;
}

.blog-link:hover .blog-link-title {
    background-color: #FFE964;
}

.main-grid-blogi {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 6vw;
    grid-row-gap: 2vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-left: 8vw;
    padding-right: 10vw;
    width: 100%;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main-grid-blogi {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: calc(25px + 47 * (100vw - 600px) / 300); 
        padding-right: calc(35px + 55 * (100vw - 600px) / 300);    
    }
}

@media only screen and (max-width: 600px) {
    .main-grid-blogi {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: 25px;
        padding-right: 35px;
    }
}

.blog-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-navigation a {
    padding: 0.5rem 0;
    transition: 0.25s;
}

.blog-navigation a:hover {
    background-color: #FFE964;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}



/* MAIN LAHJOITUS ********************************************************************** */

.main-holvi {
    align-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 0 15vw 10vw;
}

.holvi-frame {
    margin: 0.5rem auto;
}

.holvi-text {
    margin: 1rem 0 1rem 3rem;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main-holvi {
        margin-left: calc(25px + 110 * (100vw - 600px) / 300);
        margin-right: calc(25px + 110 * (100vw - 600px) / 300); 
    }
}

@media only screen and (max-width: 700px) {
    .main-holvi {
        flex-direction: column;
    }

    .holvi-text {
        margin-left: calc(25px + 110 * (100vw - 600px) / 300);
        margin-right: calc(25px + 110 * (100vw - 600px) / 300); 
    }

}


@media only screen and (max-width: 600px) {
    .main-holvi, .holvi-text {
        margin-left: 25px;
        margin-right: 25px;
    }
}



/* MAIN SV-EN ************************************************************************** */

.main-sv-en {
    align-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 0 10vw 10vw 15vw;
}

.main-sv-en img {
    height: 80vh;
    margin-top: -1rem;
    width: auto;
    z-index: -10;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main-sv-en {
        align-content: center;
        margin-left: calc(25px + 110 * (100vw - 600px) / 300);
        margin-right: calc(25px + 75 * (100vw - 600px) / 300);
    }
}

@media only screen and (max-width: 700px) {
    .main-sv-en {
        flex-direction: column;
    }

    .main-sv-en img {
        height: auto;
        margin-top: -4rem;
        width: 90vw;
    }

}

@media only screen and (max-width: 600px) {
    .main-sv-en {
        margin-left: 25px;
        margin-right: 15px;
    }
}



/* MAIN YHTEYS ************************************************************************** */

.main-yhteys-social-media a {
    font-size: 2.5rem;
    padding: 0 1rem;
}

address {
    padding: 4rem 0 0;
}

address a {
    color: #8f44cc;
    font-family: 'Unna', serif;
    font-size: 2rem;
    font-style: normal;
}



/* FOOTER ******************************************************************************************************* */

footer {
    align-items: end;
    background-color: #8f44cc;
    color: white;
    display: grid;
    grid-column-gap: 2.5rem;
    grid-template-areas:
    "vasemmisto-logo footer-ajak footer-social-media"
    "vasemmisto-logo footer-xurxe back-to-top";
    grid-template-columns: auto auto auto;
    grid-template-rows: 6vw 4vw;
    grid-row-gap: 2vw;
    padding: 5vw 15vw;
}

.vasemmisto-logo {
    align-self: center;
    grid-area: vasemmisto-logo;
    width: 12vw;
}

.vasemmisto-logo-square {
    display: block;
}

.vasemmisto-logo-long {
    display: none;
}

.vasemmisto-logo-square-hover {
    display: none;
}

.vasemmisto-logo-long-hover {
    display: none;
}

.vasemmisto-logo:hover .vasemmisto-logo-square {
    display: none;
}

.vasemmisto-logo:hover .vasemmisto-logo-square-hover {
    display: block;
}

footer a {
    color: white;
    transition: 0.1s;
}

footer a:hover {
    color: #FFE964;
}

.footer-social-media {
    grid-area: footer-social-media;
    font-size: 2rem;
    padding: 0;
    justify-self: end;
    align-self: center;
}

.footer-social-media a {
    margin: 0 0 0 0.5rem;
}

#footer-facebook-icon {
    margin: 0 0 0 0;
}

.back-to-top {
    grid-area: back-to-top;
    justify-self: end;
    font-size: 1.5rem;
    padding: 0;
}

.footer-ajak {
    grid-area: footer-ajak;
    align-self: center;
}

.footer-xurxe {
    grid-area: footer-xurxe;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    footer {
        padding-left: calc(25px + 110 * (100vw - 600px) / 300);
        padding-right: calc(25px + 110 * (100vw - 600px) / 300);        
    }
}

@media only screen and (max-width: 600px) {
    footer {
        grid-template-columns: 100%;
        grid-template-rows: 20vw auto auto auto auto;
        grid-template-areas:
        "vasemmisto-logo"
        "footer-ajak"
        "footer-social-media"
        "footer-xurxe"
        "back-to-top";
        grid-row-gap: 1.5rem;
        justify-items: center;
        padding-left: 25px;
        padding-right: 25px;
    }

    .vasemmisto-logo {
        width: 50vw;
    }

    .vasemmisto-logo-square {
        display: none;
    }
    
    .vasemmisto-logo-long {
        display: block;
    }
    
    .vasemmisto-logo-square-hover {
        display: none;
    }
    
    .vasemmisto-logo-long-hover {
        display: none;
    }
    
    .vasemmisto-logo:hover .vasemmisto-logo-long {
        display: none;
    }

    .vasemmisto-logo:hover .vasemmisto-logo-square-hover {
        display: none;
    }
    
    .vasemmisto-logo:hover .vasemmisto-logo-long-hover {
        display: block;
    }
    
    .footer-ajak,
    .footer-social-media,
    .footer-xurxe,
    .back-to-top {
        justify-self: center;
    }
}