/* GENERAL **************************************************************************************************** */

* {
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --yellow: rgb(255, 234, 117);
    --magenta: #F00B64;
    --pink: #F287B6;
    --purple: #8f44cc;
    --purple-dark: #55287a;
    --purple-superdark: #1c0d28;
}

html {
    color: #1c0d28;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

body {
    background: white;
}

h1 {
    font-size: 10vw;
    text-align: center;
    color: var(--purple);
    font-family: 'Bungee Shade', sans-serif;
    padding: 5rem 0 3rem;
    letter-spacing: 0.07em;
}

h2 {
    font-size: 4.7vw;
    text-align: center;
    color: var(--purple);
    font-family: 'Unna', serif;
    letter-spacing: 0.05em;
    padding: 0 0 5rem;
}

p {
    padding: 0 0 4rem;
    line-height: 2rem;
}

/* HEADER ***************************************************************************************************** */

header {
    background-attachment: fixed;
    background-image: url(../assets/etusivu/etusivu.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

nav {
    align-items: baseline;
    background: var(--purple);
    position: fixed;
    width: 100%;
}

nav a {
    color: white;
}

.nav-internal {
    display: inline-block;
}

.nav-external {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.nav-internal a {
    padding: 1.5rem 0.75rem;
    font-weight: 800;
    letter-spacing: 0.05em;
    transition: 0.2s;
    display: inline-block;
    font-size: 16px;
}

.nav-internal a:hover, a:active {
    background: var(--yellow);
    color: var(--purple-superdark);
}

.fa-home {
    font-size: 1.5rem;
    padding: 1rem;
    transition: 0.1s;

}

.fa-home:hover {
    color: var(--yellow);
}

.nav-external a {
    font-size: 1.5rem;
    padding: 0 0.25rem;
    transition: 0.1s;
    display: inline-block;
}

.nav-external a:hover {
    color: var(--yellow);
}

.hamburger {
    display: none;
}

.hamburger:hover {
    color: var(--yellow);

}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: inline-block;
        font-size: 1.5rem;
        height: 2rem;
        color: white;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .nav-internal {
        display: none;
        position: absolute;
        top: 1.2rem;
        left: 6rem;
    }

    .nav-external {
        display: none;
        position: absolute;
        top: 1.2rem;
        right: 6rem;
    }

    .nav-internal a, .nav-external a {
        display: block;
        padding: 0 0 1.5rem;
    }

    .nav-internal a:hover {
        background: transparent;
        color: var(--yellow);
    }

    nav:hover {
        height: 55vh;
    }

    nav:hover .nav-internal {
        display: block;
    }

    nav:hover .nav-external {
        display: block;
    }

    


}

/* MAIN ******************************************* */


.name-slogan {
    background: var(--yellow);
}

.main-content {
    padding: 4rem 12vw;
}

.valitentti {
    width: 100%;
    height: 40vw;
}

.video {
    box-shadow: -1.5rem 1.5rem var(--purple);
    margin: 1.5rem;
    background: var(--yellow);

}
